body{
  background-color:#C9D8B6;
  margin:0;
margin-bottom: auto;
  text-align: center;
font-family: 'Merriweather', serif;
}
h1{

font-family: 'Sacramento', cursive;
font-size: 4.375rem;
color:  #053742;
line-height: 2;
}
h2
{
  font-family:'Montserrat', sans-serif;
  font-size: 2rem;
  color:  #206A5D;
font-weight: normal;
padding-bottom: 10px;

}
h3
{
  font-family: 'Montserrat', sans-serif;
  color: #0A043C;
}
p
{
font-family: 'Patrick Hand', cursive;
  font-size: 20px;
  color: #A20A0A;
}

.web{
text-decoration:underline;
}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
}

.soumya{
padding-top: 100px;
left: 100px;
}

.poem
{
width: 100%;

}
a
{
    color: #2C2E43;
font-family: 'Montserrat', sans-serif;
margin: 10px 20px;
text-decoration: none;
}
a:hover
{
color: #EAF6F6;
}

.middle-container {

  margin: 100px 0;
}
.bottom-container{
  background-color:#9ECCA4;
  padding: 50px 0 20px;
}
p
{
  line-height: 2;
}
hr{
  border:dotted #556052 10px;

  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
padding: 20px 0;
}
.contact-me{
  width: 70%;
  margin: auto;
}
.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Brush Script MT;
   font-size: 27px;
   font-weight: 200;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #0059A0;
   -moz-box-shadow: 1px 1px 20px 0 #0059A0;
   box-shadow: 1px 1px 20px 0 #0059A0;
   text-shadow: 1px 1px 20px #FFFFFF;
   border: ridge #0059A0 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #2BC4AD 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
